.git
.gitignore
.env
.env.*
!.env.example
.netlify
netlify-dist
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.cache
*.md
Homestead.json
Homestead.yaml
